@page
@model ProductModel
@{
    ViewData["Title"] = "Login Page";
}

<!DOCTYPE html>
<html lang="en">
   <!-- body -->
   <body class="main-layout">
      <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Add New Product Page</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <!-- registration -->
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <form class="main_form" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <input asp-for="Product.ProductName" class="form-control" placeholder="Product Name" type="text" name="ProductName" />
                            </div>
                            <div class="col-md-12">
                                <input asp-for="Product.ProductDescription" class="form-control" placeholder="Product Description" type="text" name="ProductDescription" />
                            </div>
                            <div class="col-md-12">
                                <input asp-for="Product.ProductPrice" class="form-control" placeholder="Product Price" type="number" name="ProductPrice" />
                            </div>
                            <div class="col-md-12">
                                <select asp-for="Product.CurrentCategoryId" class="form-control" placeholder="Category" name="CurrentCategoryId">
                                    <option value="1">TVs</option>
                                    <option value="2">Laptops</option>
                                    <option value="3">Sound Systems</option>
                                </select>
                            </div>

                            <div class="col-md-12">
                                <input asp-for="Product.RegCustDiscount" class="form-control" placeholder="Registration Customer Discount" type="number" name="RegCustDiscount" />
                            </div>
                            <div class="col-md-6">
                                <input asp-for="Product.TwoPiecesDiscountPercentage" class="form-control" placeholder="Two Pieces Discount Percentage" type="number" name="TwoPiecesDiscountPercentage" />
                            </div>

                            <div class=" col-md-12">
                                <input type="submit" value="Add Product" class="send" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact -->
   </body>
</html>
